body {
  margin: 0;
}
#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 800px;
  height: 800px;
  background-color: #fff;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.btn-custom {
  color: #5ce6b0!important;
  border-width: 0px!important;
  border-radius: 100px;
  letter-spacing: 1px;
  font-size: 21px;
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
  font-weight: 600!important;
  text-transform: uppercase!important;
  background-color: #2e294e;
}

.et_pb_row_8 {
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  border-width: 4px;
  border-color: #5ce6b0;
}

.bg-dark {
  background-color: #2e294e !important;
}

.navbar-dark .navbar-nav .nav-link  {
  color: #5ce6b0 !important;
}

.navbar-dark .navbar-brand {
  color: #5ce6b0 !important;

}